{% load static %}
{% static "images" as baseUrl %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>َAnimated Login Form</title>
  <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>

  <form class="box" action="login" method="post">
    {% csrf_token %}
    <h1>login</h1>
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <input type="submit" name="" value="Login">
  </form>

  <div>
    {% for message in messages %}
    <h3>{{message}}</h3>
    {% endfor %}
  </div>

</body>

</html>